.header__line {
    height: 3vh;
    max-width: 100%;
    background-color: #2667ff;
}

.header_sub_line {
    justify-content:space-around;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    max-width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

